@use '@src/styles/variables' as *;
@use '@src/styles/mixins' as *;
@use 'sass:color';
@use 'sass:math';


.edit-container {
  margin-top: 30px;
  border-top: 1px solid #ddd;
  padding: 20px 0;
  button {
    margin-top: 15px;
    text-transform: none;
  }
}
// Overlay
.edit-raw-data {
  margin-top: 30px;
  border-top: 1px solid #ddd;
  padding-top: 20px;
  textarea {
    width: 100%;
    padding: 1rem;
    font-family: 'Fira Code', monospace;
    font-size: 0.95rem;
    color: $text-primary;
    background: $input-bg;
    border: 1px solid $border;
    border-radius: 0.75rem;
    resize: vertical;
    min-height: 400px;
    line-height: 1.5;
    white-space: pre;
    outline: none;
    transition: border 0.2s, box-shadow 0.2s;

    &:focus {
      border-color: $primary;
      box-shadow: 0 0 0 3px color.adjust($primary, $alpha: -0.8);
    }
  }
  h3 {
    text-align: left;
  }
}
