
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
  font-family: 'Inter', sans-serif;
  background-color: #fff;
  .container-inner {
    display: flex;
    gap: 1rem;
    margin-bottom: 1.25rem;
    flex-wrap: wrap;
  }
}

.logo-bill {
  background-image: url("../assets/logo.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  padding: 0px;
  margin: 0px;
  width: 150px;
  height: 47px;
}