.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
  padding: 20px;
  max-width: 1200px;
  min-width: 800px; 
  margin: 0 auto;
  @media (max-width: 786px) {
   min-width: auto;
   width: 100%; 
   padding: 20px 0;
  }
}

// Animation
.app {
  display: flex;
  flex-direction: column;
  main {
    min-height: 100vh;
  }

  .main-content {
    flex: 1;
    position: relative;
    flex: 1 0 auto;

    .route-container {
      width: 100%;
      height: auto;
      min-height: 100%;
    }

    // Fade-in transition styles
    .fade-enter {
      opacity: 0;
      transform: scale(0.98);
    }

    .fade-enter-active {
      opacity: 1;
      transform: scale(1);
      transition: opacity 250ms ease-in-out, transform 250ms ease-in-out;
    }

    .fade-exit {
      opacity: 1;
      transform: scale(1);
    }

    .fade-exit-active {
      opacity: 0;
      transform: scale(0.98);
      transition: opacity 250ms ease-in-out, transform 250ms ease-in-out;
    }
  }
}