@use '@src/styles/variables' as *;
@use '@src/styles/mixins' as *;
@use 'sass:color';
@use 'sass:math';

.overview {
  max-width: 900px;
  margin: 0 auto;
  padding: 2rem;
  color: $text-primary;
  h3 {
    font-size: 1.2em;
    letter-spacing: 0.02em;
  }
  .overview-card {
    background: #ffffff;
    border-radius: 12px;
    padding: 24px;
    box-shadow: 0.1px 0.1px 0.1px 0.1px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 200px;
    @media (max-width: 600px) {
      min-width: 150px;
    }

    .label {
      font-size: 14px;
      color: #555;
      font-weight: 500;
      display: flex;
      align-items: center;
      gap: 6px;
      margin-bottom: 12px;
      text-transform: capitalize;
    }

    .amount {
      font-size: 24px;
      font-weight: 600;
      color: #111;
      display: inline-flex;
      align-items: baseline;
      letter-spacing: 0.04em;

      .currency-symbol {
        font-size: 18px;
        font-weight: 500;
        color: #444;
        letter-spacing: 1px;
        margin-right: 4px;
      }

      .decimal {
        font-size: 18px;
        color: #777;
        margin-left: 2px;
      }
    }
    .currency {
      font-size: 18px;
      font-weight: 400;
      color: #444;
    }
  }

  .overview-grid {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
  }

  .overview-category {
    display: grid;
    grid-template-columns: repeat(3, 1fr); // Explicitly set to 3 columns
    gap: 1.5rem;
    @media (max-width: 780px) {
      .overview-card {
        padding: 20px;
        .amount {
          font-size: 22px;
        }
      }
    }
    @media (max-width: 600px) {
      grid-template-columns: repeat(2, 1fr);
      grid-auto-flow: dense; 
      gap: 1rem;
    }
    @media (max-width: 400px) {
      grid-template-columns: 1fr;
    }
  }
}

