.footer {
  width: 100%;
  padding: 1rem 2rem;
  font-family: sans-serif;
  color: #555;
  border-top: 0.2px solid #ddd;
  text-align: center;
  user-select: none;

  .footer-love {
    color: #e25555;
  }
}
