
@use '@src/styles/variables' as *;
@use '@src/styles/mixins' as *;
@use 'sass:color';
@use 'sass:math';

.settings {
  .settings-option {
    flex-basis: 100%;
  }
  label {
    display: flex;
    align-items: center;
    font-size: 1rem;
    color: var(--text-secondary);
    flex: 1;
    margin-bottom: 0.5em;
  }
  .settings-tooltips {
    .tooltip-icon {
      color: red;
      font-size: 16px;
      width: 22px;
      height: 22px;
    }
  }
}